real state 2.json
{
  "name": "real state 2",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// COLD Lead Strategy - Soft educational message\nconst item = $input.item.json;\n\nreturn {\n  ...item,\n  follow_up_type: 'whatsapp',\n  tone: 'soft',\n  priority: 'low',\n  action: 'nurture',\n  strategy_notes: 'COLD lead - Low urgency. Send educational content and wait for engagement.'\n};"
      },
      "id": "f0a1a9c2-2ab0-42c0-bc16-909f142f8a05",
      "name": "COLD Lead Strategy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        384
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// WARM Lead Strategy - Polite follow-up\nconst item = $input.item.json;\n\nreturn {\n  ...item,\n  follow_up_type: 'whatsapp',\n  tone: 'polite',\n  priority: 'medium',\n  action: 'schedule_call',\n  strategy_notes: 'WARM lead - Interested but not urgent. Polite WhatsApp message with call scheduling.'\n};"
      },
      "id": "2ac5786e-2edb-4821-b791-340ea15d6ce9",
      "name": "WARM Lead Strategy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        192
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// HOT Lead Strategy - Instant follow-up\nconst item = $input.item.json;\n\nreturn {\n  ...item,\n  follow_up_type: 'whatsapp',\n  tone: 'urgent',\n  priority: 'high',\n  action: 'immediate_call',\n  strategy_notes: 'HOT lead - High intent buyer. Immediate WhatsApp + Call required.'\n};"
      },
      "id": "35b6ff53-e0a5-4d53-86f6-e5f53cb16813",
      "name": "HOT Lead Strategy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Receive Qualified Lead').item.json.body.lead_status }}",
                    "rightValue": "HOT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "37298de9-e1ef-472c-adfd-70146554fa6b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HOT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Receive Qualified Lead').item.json.body.lead_status }}",
                    "rightValue": "WARM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "599b2811-4709-4928-8b01-f78087ba3871"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WARM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Receive Qualified Lead').item.json.body.lead_status }}",
                    "rightValue": "COLD",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9f5e8adb-10d1-4a58-b7dd-ac2fa9ea2d74"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COLD"
            }
          ]
        },
        "options": {}
      },
      "id": "e9cd5070-b5cd-4be0-b1d9-d658c58b47c3",
      "name": "Route by Lead Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        192,
        176
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "name",
              "value": "={{ $json.body.Name }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "intent",
              "value": "={{ $json.body.intent }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "urgency",
              "value": "={{ $json.body.urgency }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "city",
              "value": "={{ $json.body.city }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "property_type",
              "value": "={{ $json.body['property type'] }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "lead_score",
              "value": "={{ $json.body.lead_score }}",
              "type": "number"
            },
            {
              "id": "id-8",
              "name": "lead_status",
              "value": "={{ $json.body.lead_status }}",
              "type": "string"
            },
            {
              "id": "f0e88bd2-e25f-42fa-865c-d1d0a42d387c",
              "name": "Email",
              "value": "={{ $json.body.Email }}",
              "type": "string"
            },
            {
              "id": "cb75ace5-f9e2-4d74-b12e-90eb534c827a",
              "name": "user_message",
              "value": "={{ $json.body.user_message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "57170d18-1b8b-4c18-bb45-b6dea507d098",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        192
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/qualified-lead",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "182c21b6-c2ec-41a7-9ccc-6137c453fc94",
      "name": "Receive Qualified Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        192
      ],
      "webhookId": "e497f393-b771-4c6b-9ce4-175b346ee98f"
    },
    {
      "parameters": {
        "sendTo": "Dheerajprajapat315@gmail.com",
        "subject": "=❄️ Cold Lead Detail: {{ $('Receive Qualified Lead').item.json.body.Name }}",
        "message": "=COLD LEAD ALERT<br><br>\nClient Name: {{ $('Receive Qualified Lead').item.json.body.Name }}<br>\nPhone: {{ $('Receive Qualified Lead').item.json.body.phone }}<br>\nEmail: {{ $('Workflow Configuration').item.json.Email }}<br>\nCity: {{ $('Receive Qualified Lead').item.json.body.city }}<br>\nBudget: {{ $('Receive Qualified Lead').item.json.body['budget range'] }}<br>\nProperty Type: {{ $('Receive Qualified Lead').item.json.body['property type'] }}<br>\nLead Score: {{ $('Receive Qualified Lead').item.json.body.lead_score }}<br>\nUser message: {{ $('Receive Qualified Lead').item.json.body.user_message ? $('Receive Qualified Lead').item.json.body.user_message : \"User message not write\" }}<br><br>\n👉 Action: Follow up later or nurture this lead.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        640,
        384
      ],
      "id": "c8ff9cba-0d46-4c08-b196-ef57967b4393",
      "name": "Send a message",
      "webhookId": "0eeaa57c-efa2-4019-8faa-0701214c73f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "9ZjATvpqZlRd4N4E",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "Dheerajprajapat315@gmail.com",
        "subject": "=Warm Lead Detail: {{ $('Receive Qualified Lead').item.json.body.Name }}",
        "message": "=Warm LEAD ALERT<br><br>\n\nClient Name: {{ $('Receive Qualified Lead').item.json.body.Name }}<br>\nPhone: {{ $('Receive Qualified Lead').item.json.body.phone }}<br>\nEmail: {{ $('Workflow Configuration').item.json.Email }}<br>\nCity: {{ $('Receive Qualified Lead').item.json.body.city }}<br>\nBudget: {{ $('Receive Qualified Lead').item.json.body['budget range'] }}<br>\nProperty Type: {{ $('Receive Qualified Lead').item.json.body['property type'] }}<br>\nLead Score: {{ $('Receive Qualified Lead').item.json.body.lead_score }}<br>\n\nUser message: {{ $('Receive Qualified Lead').item.json.body.user_message ? $('Receive Qualified Lead').item.json.body.user_message : \"User message not write\" }} <br><br>\n\n👉 Action: Reach out soon and share suitable options.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        640,
        192
      ],
      "id": "5714cbdc-9f3f-4e73-8e77-e69512623079",
      "name": "Send a message4",
      "webhookId": "0eeaa57c-efa2-4019-8faa-0701214c73f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "9ZjATvpqZlRd4N4E",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "Dheerajprajapat315@gmail.com",
        "subject": "=HOT Lead Detail: {{ $('Receive Qualified Lead').item.json.body.Name }}",
        "message": "=🔥 HOT LEAD ALERT<br><br>\nClient Name: {{ $('Receive Qualified Lead').item.json.body.Name }}<br>\nPhone: {{ $('Receive Qualified Lead').item.json.body.phone }}<br>\nEmail: {{ $('Workflow Configuration').item.json.Email }}<br>\nCity: {{ $('Receive Qualified Lead').item.json.body.city }}<br>\nBudget: {{ $('Receive Qualified Lead').item.json.body['budget range'] }}<br>\nProperty Type: {{ $('Receive Qualified Lead').item.json.body['property type'] }}<br>\nLead Score: {{ $('Receive Qualified Lead').item.json.body.lead_score }}<br>\nUser message: {{ $('Receive Qualified Lead').item.json.body.user_message ? $('Receive Qualified Lead').item.json.body.user_message : \"User message not write\" }}<br><br>\n👉 Action: Call this client immediately.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        640,
        0
      ],
      "id": "1050655e-4cb0-4782-9e0c-be28221a25db",
      "name": "Send a message5",
      "webhookId": "0eeaa57c-efa2-4019-8faa-0701214c73f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "9ZjATvpqZlRd4N4E",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "COLD Lead Strategy": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WARM Lead Strategy": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HOT Lead Strategy": {
      "main": [
        [
          {
            "node": "Send a message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Lead Status": {
      "main": [
        [
          {
            "node": "HOT Lead Strategy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WARM Lead Strategy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "COLD Lead Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Route by Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Qualified Lead": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "848b7ad0-c089-420d-8c8e-b3b9e0ffcbd1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8821df3e654b4eb5295b117cdc4e8eb53513fa55dce1fdecf3a3b4c74569403d"
  },
  "id": "Fj6jOp96mug73fXo",
  "tags": []
}